addic7ed_async/__pycache__/
.addic7ed_cache/*
redirects.sqlite

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
build/
lib/*
dist/*
addic7ed_async.egg-info/*

# Environments
#pyvenv.cfg
bin/*

